@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f0f0f0;
}

.login h2 {
    font-family: "Sigmar", sans-serif;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
}