.scoreboard-wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.scoreboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292e1d;
    padding: 10px 20px;
    color: #efefef;
}

.scoreboard-header button {
    background: darkred;
    color: #efefef;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
}

.host-container {
    background-image: linear-gradient(to right bottom, #4c8cec, #0080b3, #00676c, #1d4a36, #292e1d);
    height: 100vh;
    display: flex;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: gray #292e1d;
}

.waiting-room-container {
    padding: 20px;
    background: #292e1d30;
    display: flex;
    justify-content: space-evenly;
    color: #efefef;
    border-radius: 10px;
    height: fit-content;
    padding: 30px;
    width: fit-content;
    gap: 50px;
    margin: 10px auto;
}

.waiting-room-content img {
    width: 400px;
    height: 400px;
}

.room-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.room-info h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    background-color: #292e1d;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #efefef;
}

.room-info button {
    background-color: #292e1d;
    color: #efefef;
    padding: 10px 20px;
    border: 1px solid #efefef;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
}

.scoreboard {
    padding: 20px;
    border-radius: 10px;
    color: #efefef;
    width: fit-content;
    margin: 20px auto;
    min-width: 50%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: gray #292e1d;
}

.scoreboard h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.scoreboard-players {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.player-rank {
    font-size: 1.5rem;
    color: #efefef;
    margin-right: 10px;
    width: 30px;
}

.scoreboard-player {
    display: flex;
    align-items: center;
    background-color: #1d1f1d;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.scoreboard-player img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.player-info {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 10px;
}

.player-info h3 {
    margin: 0;
    font-size: 1.2rem;
}

.player-info h4 {
    margin: 0;
    font-size: 1rem;
    color: #b3b3b3;
}

.player-score {
    color: #efefef;
}

.player-submission-time {
    color: #efefef;
}

.host__players {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.host__player {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #292e1d;
    width: fit-content;
    padding: 10px;
    color: #efefef;
    border-radius: 10px;
    overflow: hidden;
}

.host__player img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.host__players__counts {
    color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}